{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Data Analysis</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <script>var FileId = "{{FileId}}";</script>

</head>
<body>
    <div class="container">
        <!-- Home Button -->
        <div class="button-group" style="margin-bottom: 20px;">
            <a href="{% url 'home' %}" class="btn btn-primary">
                <i class="fas fa-home"></i> Home
            </a>
        </div>

        <h1>Data Analysis</h1>

        <div class="button-group">
            <button id="show_data_button"><i class="fas fa-th"></i> Show table</button>
            <button id="load-sales-trend"><i class="fas fa-chart-line"></i> Load Sales Trend</button>
            <button id="load-correlation-heatmap"><i class="fas fa-th"></i> Load Correlation Heatmap</button>
            <button id="load-prediction-chart"><i class="fas fa-chart-bar"></i> Load Sales Prediction</button>
        </div>
        <div class="button-group">
            <div class="store-container">
                <label for="store_id">Store ID:</label>
                <input type="number" id="store_id" value="1">
                <button onclick="fetchDataAndRenderChart()">Show Forecast</button>
            </div>
        </div>

        <div id="loader" style="display:none;">
            <div class="spinner"></div>
        </div>
        <div class="chart-container" id="chart-container">

            
        </div>
        <div class="error" id="error-message"></div>
        <div class="show_data" id="show_data_id">
            <div class="search-container">
                <!-- Label for the dropdown -->
                <label for="column-select">Select Column to Search:</label>
            
                <!-- Column Select Dropdown -->
                <select id="column-select">
                    <option value="all">All</option>  <!-- Option to search across all columns -->
                    {% for H in header %}
                        <option value="{{ forloop.counter0 }}">{{ H }}</option> <!-- Use loop.counter0 for zero-based index -->
                    {% endfor %}
                </select>
            
                <!-- Search Input -->
                <input type="text" id="search-input" placeholder="Search..." onkeyup="searchTable()" />
            </div>
            
            <!-- Table -->
            <div style="overflow:auto;max-height:900px;">
                <!-- Table -->
                <table id="stats-table" border="1">
                    <thead>
                        <tr>
                            {% for H in header %}
                                <th scope="col">{{ H }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for D in data %}
                            <tr scope="row">
                                {% for H in header %}
                                    <td>{{ D|get_item:H }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        
        


        
        
        
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/script2.js' %}"></script>
</body>
</html>
