{% load static %}
{% load custom_tags %}
{{table_size}}
<table class="table table-striped custom-table">
    <thead>
      <!-- Ligne d'en-tête du tableau -->
      <tr>
        <!-- Colonne pour la sélection multiple -->
        <th scope="col">
            <label class="control control--checkbox">
              <input type="checkbox" class="js-check-all"> <!-- Checkbox pour tout sélectionner -->
              <div class="control__indicator"></div>
            </label>
        </th>
        <!-- Affichage des en-têtes des colonnes -->
        {% for H in header %}
            <th scope="col">{{H}}</th> <!-- Nom de la colonne affiché dynamiquement -->
        {% endfor %}
        <th scope="col"></th> <!-- Colonne vide pour les actions supplémentaires -->
      </tr>
    </thead>
    <tbody>
      <!-- Boucle pour afficher les données de chaque ligne -->
      {% for D in data %}
          <tr scope="row">
              <!-- Colonne pour la sélection individuelle -->
              <td>
                  <label class="control control--checkbox">
                  <input type="checkbox"> <!-- Checkbox pour chaque ligne -->
                  <div class="control__indicator"></div>
                  </label>
              </td>
              <!-- Affichage de l'ID du fichier -->
              <td>
                  {{ D.file_id }}
              </td>
              <!-- Affichage du nom du fichier avec un lien et un interrupteur -->
              <td>
                  <div class="d-flex align-items-center">
                  <label class="custom-control ios-switch">
                  <input type="checkbox" class="ios-switch-control-input" checked=""> <!-- Interrupteur activé par défaut -->
                  <span class="ios-switch-control-indicator"></span>
                  </label>
                  <a href="#">{{ D.file_name }}</a> <!-- Nom du fichier avec lien -->
                  </div>
              </td>
              <!-- Affichage des autres colonnes dynamiques -->
                {% for H in header %}
                    <td>{{ D|get_item:H }}</td> <!-- Affiche les données en fonction des en-têtes -->
                {% endfor %}
              <!-- Colonne pour des actions supplémentaires -->
              <td><a href="#" class="more">Ouvrir</a></td> <!-- Lien pour ouvrir l'élément -->
          </tr>
      {% endfor %}
    </tbody>
  </table>
