asgiref==3.8.1
beautifulsoup4==4.12.3
contourpy==1.2.1
cycler==0.12.1
Django==4.2.17
django-bootstrap-v5==1.0.11
django-chartjs==2.3.0
fonttools==4.55.3
joblib==1.4.2
kiwisolver==1.4.4  # Adjusted for Python 3.9
matplotlib==3.6.3  # Compatible with Python 3.9
numpy==1.23.5      # Compatible with Python 3.9
packaging==24.2
pandas==1.5.3      # Compatible with Python 3.9
patsy==0.5.3       # Compatible with Python 3.9
pillow==9.5.0      # Compatible with Python 3.9
pyparsing==3.2.1
python-dateutil==2.8.2  # Compatible with Python 3.9
pytz==2024.2
scikit-learn==1.2.2  # Compatible with Python 3.9
scipy==1.10.1        # Compatible with Python 3.9
seaborn==0.12.2      # Compatible with Python 3.9
six==1.16.0          # Latest for Python 3.9
soupsieve==2.6
sqlparse==0.5.2
statsmodels==0.14.0  # Compatible with Python 3.9
threadpoolctl==3.1.0 # Compatible with Python 3.9
tzdata==2024.2
